@import "bootstrap-sprockets"
@import "bootstrap"

.eval-form
  margin-top: 60px
  padding: 15px
  background-color: #f9f9f9
  border-radius: 10px
  text-align: center

  label
    font-weight: bold
    margin-right: 10px

  #user-value
    width: 80px
    text-align: center
    margin-right: 10px

  #save-value-btn
    margin-right: 10px

  .average-info
    margin-top: 10px
    font-size: 0.9em
    color: #666

