.img-left-side, .img-right-side
  display: none
  cursor: pointer

.img-center img
  max-width: 100%
  max-height: 500px
  object-fit: contain

.select_theme
  margin-bottom: 20px

.left_controls
  background-color: #f5f5f5
  padding: 15px
  border-radius: 5px

